.posting {
  h1 {
    background-color: rgba(0,0,0,0.2);
    border-bottom: 2px solid #000;
    color: #000;
    letter-spacing: .1em;
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
  }

  p,
  ul {
    padding: 1em 20vw;
  }
}
